<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cajero.Properties.Settings.TarjetaConnectionString"
            connectionString="Data Source=ANDRESLAPTOP;Initial Catalog=Tarjeta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Cajero.Properties.Settings.clientesATMConnectionString"
            connectionString="Data Source=ANDRESLAPTOP;Initial Catalog=clientesATM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Cajero.Properties.Settings.clientesATMConnectionString1"
            connectionString="Data Source=DESKTOP-KPD7DJP\SQLEXPRESS;Initial Catalog=clientesATM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Cajero.Properties.Settings.clientesATMConnectionString2"
            connectionString="Data Source=DESKTOP-1U8MQO3\SQLEXPRESS;Initial Catalog=clientesATM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>